.container {
  padding-top: 60px;
  box-sizing: border-box;
  .frame {
    position: relative;
    .wrapper {
      article {
        h3 {
          color: #f15e24;
          text-transform: uppercase;
          position: relative;
          display: block;
          font-size: calc(19px + 8 * ((100vw - 420px) / 480));
          line-height: 70px;
          letter-spacing: 0;
          margin-bottom: 60px;
          position: relative;
          i {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.08;
            font-size: 100px;
            font-style: normal;
            color: #1d1e21;
            letter-spacing: 0;
            // left: -70px;
            // font-size: 150px;
            // line-height: 115px;
          }
        }
        h3:not(:first-of-type) {
          padding-left: 50px;
        }
        p {
          margin-top: 0;
          // margin-bottom: 30px;
          font-size: calc(14px + 4 * ((100vw - 420px) / 480));
        }
      }
      article:not(:last-of-type) {
        padding: 60px 0px 60px 0px;
        div {
          padding: 0px 30px 0px 30px;
        }
      }
    }
  }
}

@media (min-width: 960px) {
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    .frame {
      .wrapper {
        article:not(:last-of-type) {
          width: 58.3333%;
          margin-left: auto;
        }
      }
    }
  }
}

@media (min-width: 1140px) {
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    // .frame {
    //   display: grid;
    //   grid-template-columns: 41.6% 58.3%;
    //   .wrapper {
    //     width: 100%;
    //     margin-right: auto;
    //     margin-left: auto;
    //   }
    // }
  }
}
