#courses {
  .courses_header {
    padding: 0px 30px;
    .title {
    }
    .texts {
      margin-bottom: 16px;
      font-family: aktiv-grotesk, Roboto, "Helvetica Neue", Arial, sans-serif;
      span {
        a {
          outline: none;
          color: #F15E24;
          text-decoration: none;
          position: relative;
          vertical-align: bottom;
          font-weight: 500;
          border-bottom: 1px solid #F15E24;
          transition: background-color 0.3s,border-color 0.3s;
        }
      }
    }
    .btn {
      padding: 8px 0;
      i {

      }
      a {
        display: inline-block;
        padding: 4px 3px;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 4px;
      }
    }
  }
  aside {
    padding: 60px 30px;
    h5 {
      color: #f15e24;
      text-transform: uppercase;
      display: block;
      font-size: 23px;
      line-height: 70px;
      letter-spacing: 0;
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 30px;
      // line-height: 1.5;
      color: #212529;
      text-align: left;
      visibility: visible;
      font-size: calc(14px + 4 * ( (100vw - 420px) / 480));
      font-family: aktiv-grotesk, Roboto, "Helvetica Neue", Arial, sans-serif;
      font-weight: 400;
    }
    a {
      text-transform: uppercase;
      padding: .6rem 1.2rem;
      color: #212529;
      cursor: pointer;
      border-color: #EAEAEA;
      background-color: #EAEAEA;
      font-size: 1rem;
      white-space: normal;
      font-weight: 400;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      line-height: 1.5;
      border-radius: .25rem;
    }
  }
  .img {
    a {
      img {
        width: -webkit-fill-available;
      }
    }

  }
  .melbourne {
    position: relative;
    .melbourne_head {
    }
    .melbourne_texts {
    }
    .melbourne_btn {
    }
  }
  .sydney {
    position: relative;
    .sydney_head {
    }
    .sydney_texts {
    }
    .sydney_btn {
    }
  }
}

@media(min-width: 960px) {
  #courses {
    .courses_header {
      width: 58.3333%;
      margin-left: auto;
      padding: 0px 30px;
    }  
    aside {
      width: 58.3333%;
      margin-left: auto;
    }
  }
}