html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  font-family: system-ui, sans-serif;
  main {
    section {
      padding: 100px 20px;
    }
  }
}
header {
  grid-column: 1 / 3;
  background: #455a64;
  color: white;
  padding: 4rem;
  text-align: center;
}
nav {
  padding: 0 100px 0px 80px;
  white-space: nowrap;
  background: grey;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 50%;
    li {
      a {
        display: block;
        text-decoration: none;
        position: relative;
        color: white;
        padding: 10px;
        margin: 10px 0;
      }
      a::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 1px;
        height: 1px;
        background: #fff;
        transition: all 0.2s linear;
      }
      a:hover,
      a:active,
      a:focus {
        display: block;
        margin-left: 100px;
        transition: all 1s ease;
      }
      a:hover::before,
      a:active::before,
      a:focus::before {
        width: 75px;
        height: 2px;
        background-color: #1d1e21;
      }
      a.current {
        display: block;
        margin-left: 100px !important;
        transition: all 1s ease;
        background-color: #0000004a;
      }
      a.current::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 1px;
        height: 1px;
        background: #fff;
        transition: all 0.2s linear;
      }
    }
  }
}

// html {
//   scroll-behavior: smooth;
//   body {
//     margin: 0;
//     display: grid;
//     grid-template-columns: min-content 1fr;
//     ul {
//       padding: 0;
//       margin: 0;
//       li {
//         list-style: none;
//       }
//     }
//     a {
//       text-decoration: none;
//     }
//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6,
//     p {
//       margin: 0;
//     }
//     button {
//       border: none;
//       outline: none;
//       cursor: pointer;
//     }
//   }
// }
