.header {
  background: url('../images/issy1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 24px 0 0 0;
  position: relative;
  height: 600px;
  .header_logo {
    max-width: 70px;
    height: 70px;
    margin-left: 24px;
  }
  .navigation_header {
    padding-left: 30px;
  }
  #sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 100%;
    transform: translateY(-110%);
    transition: transform 0s;
    background-color: transparent;
    .navigation {
      height: 100%;
      z-index: 1;
      background: #f15e24;
      .sidebarMenuInner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25.5px 0 0 0;
        div {
          .header_logo {
            max-width: 70px;
            height: 70px;
          }
        }
        .navigation_list {
          display: flex;
          flex-direction: column;
          align-self: flex-end;
          margin-right: 5%;
          text-align: center;
          padding: 30px 0;
          li {
            a {
              color: black;
            }
          }
          .menu {
            li {
              padding: 10px 30px;
              background-color: white;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  #list {
    transform: translateY(-30%);
  }
  input[type='checkbox']:checked
    ~ #sidebarMenu
    .navigation
    .sidebarMenuInner
    #list {
    transform: translateY(0px);
    transition: transform 2s;

    li {
      a {
        animation: fadeIn 3s;
      }
    }
    .menu {
      li {
        a {
          animation: fadeIn 2s;
        }
      }
    }
  }
  input[type='checkbox']:checked ~ #sidebarMenu {
    transform: translateY(-4%);
  }

  input[type='checkbox'] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    transition: all 0.8s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    top: 52px;
    right: 55px;
    height: 22px;
    width: 22px;
  }
  .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
  }
  .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
    margin-bottom: 6px;
  }
  .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  input[type='checkbox']:checked
    ~ .navigation_header
    > .sidebarIconToggle
    > .diagonal.part-1 {
    transition: all 0.5s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
  }
  input[type='checkbox']:checked
    ~ .navigation_header
    > .sidebarIconToggle
    > .diagonal.part-2 {
    transition: all 0.5s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
  }
}
