// html {
//   scroll-behavior: smooth;
// }
// body {
//   margin: 0;
//   display: grid;
//   grid-template-columns: min-content 1fr;
//   font-family: system-ui, sans-serif;

//   /* this breaks position sticky in Firefox */
//   /* overflow-x: hidden; */
// }
// header {
//   grid-column: 1 / 3;
//   background: #455a64;
//   color: white;
//   padding: 4rem;
//   text-align: center;
// }
// nav {
//   white-space: nowrap;
//   background: #37474f;
// }
// nav ul {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }
// @media (min-height: 300px) {
//   nav ul {
//     position: sticky;
//     top: 0;
//   }
// }
// nav ul li a {
//   display: block;
//   padding: 0.5rem 1rem;
//   color: white;
//   text-decoration: none;
// }
// nav ul li a.current {
//   background: black;
// }
// main {
//   padding-bottom: 40rem;
// }
// section {
//   padding: 2rem;
//   margin: 0 0 2rem 0;
// }
.main {
  nav {
    white-space: nowrap;
    ul {
      position: sticky;
      top: 0;
      li {
        padding: 16px ​0 0 0;
        a {
          display: block;
          color: black;
        }
        a.current:before {
          background: black;
          font-weight: bolder;
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          width: 1px;
          height: 1px;
          background: #fff;
          transition: all 0.2s linear;
        }
      }
    }
  }
  section {
    padding: 24px 24px 0px 24px;
    h3 {
      color: #f15e24;
      font-size: 19px;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 960px) {
  .main {
    section {
      position: relative;
      width: 66.66%;
      margin-left: auto;
      margin-right: 0;
    }
  }
}
@media (min-width: 1140px) {
  .main {
    section {
      width: 92%;
    }
  }
}
