.primary_wrapper {
  padding: 0px 30px;
  width: 58.3333%;
  margin-left: auto;
  .primary_title {
    color: #f15e24;
    font-size: calc(32px + 14 * ((100vw - 420px) / 480));
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

@media (min-width: 960px) {
  .primary_wrapper {
    .primary_title {
      // padding-left: 30px;
    }
  }
}

@media (min-width: 1024px) {
  .primary_wrapper {
    .primary_title {
      font-size: 32px;
    }
  }
}
