.container {
  .sidebar {
    display: none;
  }
}
@media (min-width: 1140px) {
  .container {
    .sidebar {
      display: block;
      nav {
        top: 50%;
        margin: 0;
        width: 80%;
        position: sticky;
        ul {
          display: flex;
          flex-direction: column;
          li {
            a {
              font-size: 20px;
              display: block;
              position: relative;
              white-space: nowrap;
              padding: 10px 10px 10px 0;
              margin-bottom: 10px;
            }
            a {
              span {
                margin-left: 80px;
              }
            }
            a:hover,
            a:focus,
            a.current {
              display: block;
              color: black;
              font-weight: bolder;
              transition: all 1s ease;
            }
            a:hover,
            a.current {
              span {
                margin-left: 100px;
                transition: all 1s ease;
              }
            }
            a:hover:before,
            a:focus:before,
            a.current::before {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              top: 50%;
              width: 75px;
              height: 1px;
              background: black;
              transition: all 1s ease;
            }
          }
        }
      }
    }
  }
}
