#testimonials {
  .tetimonials_title {
  }
  .testimonials_wrapper {
    blockquote {
      width: 90%;
      margin: 0 5%;
      .testimonials_primary--text {
        font-size: 110%;
        font-style: italic;
        text-align: justify;
        margin-bottom: 45px;
      }
      .testimonials_secondary--text {
        color: #00aab3;
        margin-bottom:8px;
        text-align: center;
        text-transform: uppercase;
        font-size: calc(19px + 8 * ((100vw - 420px) / 480));
      }
    }
    .testimonials_gandel--logo {
      display: block;
      max-width: 463px;
      max-height: 226px;
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 16px;
    }

  }
}
