body {
  margin: 0; }
  body ul {
    padding: 0;
    margin: 0; }
    body ul li {
      list-style: none; }
  body a {
    text-decoration: none; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6,
  body p {
    margin: 0; }
  body button {
    border: none;
    outline: none;
    cursor: pointer; }

.header {
  background: url("../images/issy1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 24px 0 0 0;
  position: relative;
  height: 600px; }
  .header .header_logo {
    max-width: 70px;
    height: 70px;
    margin-left: 24px; }
  .header .navigation_header {
    padding-left: 30px; }
  .header #sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 100%;
    transform: translateY(-110%);
    transition: transform 0s;
    background-color: transparent; }
    .header #sidebarMenu .navigation {
      height: 100%;
      z-index: 1;
      background: white; }
      .header #sidebarMenu .navigation .sidebarMenuInner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25.5px 0 0 0; }
        .header #sidebarMenu .navigation .sidebarMenuInner div .header_logo {
          max-width: 70px;
          height: 70px; }
        .header #sidebarMenu .navigation .sidebarMenuInner .navigation_list {
          display: flex;
          flex-direction: column;
          align-self: flex-end;
          margin-right: 5%;
          text-align: center;
          padding: 30px 0; }
  .header input[type='checkbox']:checked ~ #sidebarMenu {
    transform: translateY(-4%); }
  .header input[type='checkbox'] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none; }
  .header .sidebarIconToggle {
    transition: all 0.8s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    top: 52px;
    right: 55px;
    height: 22px;
    width: 22px; }
  .header .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff; }
  .header .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
    margin-bottom: 6px; }
  .header .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px; }
  .header input[type='checkbox']:checked
~ .navigation_header
> .sidebarIconToggle
> .spinner {
    background: black; }
  .header input[type='checkbox']:checked
~ .navigation_header
> .sidebarIconToggle
> .diagonal.part-1 {
    transition: all 0.5s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px; }
  .header input[type='checkbox']:checked
~ .navigation_header
> .sidebarIconToggle
> .diagonal.part-2 {
    transition: all 0.5s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px; }
