html {
  scroll-behavior: smooth; }
  html body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /************************************************/
    /************************************************/
    /* Only stick if you can fit */ }
    html body ul {
      padding: 0;
      margin: 0; }
      html body ul li {
        list-style: none; }
    html body a {
      text-decoration: none; }
    html body h1,
    html body h2,
    html body h3,
    html body h4,
    html body h5,
    html body h6,
    html body p {
      margin: 0; }
    html body button {
      border: none;
      outline: none;
      cursor: pointer; }
    html body nav {
      white-space: nowrap; }
      html body nav ul a {
        display: block;
        padding: 0.5rem 1rem;
        color: blueviolet; }
      html body nav ul a.current {
        background: black; }

.header {
  background: url("../images/issy1.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 24px 0 0 0;
  position: relative;
  height: 600px; }
  .header .header_logo {
    max-width: 70px;
    height: 70px;
    margin-left: 24px; }
  .header .navigation_header {
    padding-left: 30px; }
  .header #sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 100%;
    transform: translateY(-110%);
    transition: transform 0s;
    background-color: transparent; }
    .header #sidebarMenu .navigation {
      height: 100%;
      z-index: 1;
      background: #f15e24; }
      .header #sidebarMenu .navigation .sidebarMenuInner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25.5px 0 0 0; }
        .header #sidebarMenu .navigation .sidebarMenuInner div .header_logo {
          max-width: 70px;
          height: 70px; }
        .header #sidebarMenu .navigation .sidebarMenuInner .navigation_list {
          display: flex;
          flex-direction: column;
          align-self: flex-end;
          margin-right: 5%;
          text-align: center;
          padding: 30px 0; }
          .header #sidebarMenu .navigation .sidebarMenuInner .navigation_list li a {
            color: black; }
          .header #sidebarMenu .navigation .sidebarMenuInner .navigation_list .menu li {
            padding: 10px 30px;
            background-color: white;
            border-radius: 4px; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
  .header #list {
    transform: translateY(-30%); }
  .header input[type='checkbox']:checked
~ #sidebarMenu
.navigation
.sidebarMenuInner
#list {
    transform: translateY(0px);
    transition: transform 2s; }
    .header input[type='checkbox']:checked
~ #sidebarMenu
.navigation
.sidebarMenuInner
#list li a {
      animation: fadeIn 3s; }
    .header input[type='checkbox']:checked
~ #sidebarMenu
.navigation
.sidebarMenuInner
#list .menu li a {
      animation: fadeIn 2s; }
  .header input[type='checkbox']:checked ~ #sidebarMenu {
    transform: translateY(-4%); }
  .header input[type='checkbox'] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none; }
  .header .sidebarIconToggle {
    transition: all 0.8s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    top: 52px;
    right: 55px;
    height: 22px;
    width: 22px; }
  .header .spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff; }
  .header .diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
    margin-bottom: 6px; }
  .header .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px; }
  .header input[type='checkbox']:checked
~ .navigation_header
> .sidebarIconToggle
> .spinner {
    background: black; }
  .header input[type='checkbox']:checked
~ .navigation_header
> .sidebarIconToggle
> .diagonal.part-1 {
    transition: all 0.5s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px; }
  .header input[type='checkbox']:checked
~ .navigation_header
> .sidebarIconToggle
> .diagonal.part-2 {
    transition: all 0.5s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px; }

.courses .cards .melbourne .melbourne_feature img {
  width: 100%; }

.courses .cards .sydney .sydney_feature img {
  width: 100%; }

.main {
  width: 100%;
  margin: auto;
  position: relative; }
  .main section:not(:first-of-type) {
    padding: 24px 24px 0px 24px; }
    .main section:not(:first-of-type) h3 {
      color: #f15e24;
      font-size: 19px;
      text-transform: uppercase; }

@media (min-width: 960px) {
  .main .section {
    width: 66.66%;
    margin: 0; } }

.masthead {
  padding: 0 24px; }
  .masthead .masthead_title {
    color: #f15e24;
    font-size: 32px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    text-transform: uppercase; }
